.card-stats .icon-big{
    font-size: 2em;
    min-height: 45px;
}
.card-stats .col-icon {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}
.card-stats .col-stats{
    padding-left: 10px;
    padding-right: 0;
}
.card-stats .icon-big.icon-yellow{
    background: #fff046;
    border-radius: 5px;
}
.card-stats .icon-big.icon-yellow i {
    color: #fff !important;
}
@media (min-width: 768px) {
    .row>* {
        padding-right: calc(var(--bs-gutter-x)* .2);
        padding-left: calc(var(--bs-gutter-x)* .2);
    }
}
@media (min-width: 576px) {
    .row>* {
        padding-right: calc(var(--bs-gutter-x)* .2);
        padding-left: calc(var(--bs-gutter-x)* .2);
    }
}
.card-stats .card-body{
    height: auto;
}

/* For screens between 768px and 1200px */
@media (max-width: 1200px) {
    .card-stats .card-body {
        height: 160px;
    }
    .card-stats .col-stats{
        padding-right: 6px;
    }
}
/* For screens smaller than 768px */
@media (max-width: 1023px) {
    .card-stats .card-body {
        height: 120px !important;
    }
    .card-stats .col-stats{
        padding-right: 6px;
    }
}

.analytic-dash-activity {
    height: 300px;
}

.font-13 {
    font-size: 13px !important;
}
.activity .activity-info .activity-info-text a, .activity .activity-info .activity-info-text span {
    color: #303e67;
}
.activity .activity-info {
    display: flex;
    margin: 5px 0;
    position: relative;
    min-height: 60px;
}
.simplebar-content:before, .simplebar-content:after {
    content: ' ';
    display: table;
}
.activity .activity-info::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 42px;
    left: 18px;
    border-left: 2px dotted #e3ebf6;
}
.activity .activity-info .activity-info-text {
    margin-left: 16px;
    width: 100%;
}
.activity .activity-info .icon-info-activity i {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #a4abc5;
    box-shadow: 0px 0px 1px 0.25px;
    font-size: 18px;
    border: 2px solid #fff;
    margin-left: 2px;
}
.bg-soft-primary {
    background-color: rgba(23, 97, 253, 0.08) !important;
    color: #1761fd !important;
}

.thumb-sm {
    height: 36px !important;
    width: 36px !important;
    font-size: 12px;
    font-weight: 700;
}
.recents .table>tbody>tr>td,.recents .table>tbody>tr>th {
    padding: 17px 10px !important;
}
.card-footer .see-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
.map-container {
    position: relative;
    width: 100%; /* Ensures responsiveness */
    height: 320px; /* Your fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevents any overflow */
    border-left: 1px solid #ebecec !important;
    background: rgba(151, 144, 238, 0.1);
}
/*.map-container svg {*/
/*    height: 100%; !* Take full height *!*/
/*    width: 100%;*/
/*    transform: scale(1); !* Adjust scale as needed *!*/
/*    transition: transform 0.3s ease-in-out; !* Smooth zoom effect *!*/
/*    transform-origin: center center; !* Keeps zoom centered *!*/
/*}*/
.mapsvg-region:hover {
    fill: #d8e0e6 !important;
    transition: fill 0.3s ease-in-out;
}
.custom-tooltip {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap; /* Prevents text from breaking */
    display: none; /* Initially hidden */
    z-index: 9999;
    pointer-events: none; /* Prevents tooltip from interfering with cursor */
}
.mapsvg-buttons.right {
    right: 0;
}

.mapsvg-buttons {
    margin: 10px;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2;
}
.mapsvg-btn-group {
    box-shadow: 0 0 5px #999;
    margin-bottom: 10px;
}
.mapsvg-btn-map.mapsvg-in {
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.mapsvg-btn-map.mapsvg-out {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.mapsvg-btn-group>.mapsvg-btn-map {
    box-shadow: none;
}

.mapsvg-btn-map {
    box-shadow: 0 0 5px #999;
    overflow: hidden;
}
.mapsvg-btn, .mapsvg-btn-map {
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0;
    position: relative;
    width: 24px;
}
.mapsvg-btn-map.mapsvg-in:before, .mapsvg-btn-map.mapsvg-out:before {
    background-color: #999;
    content: "";
    display: block;
    height: 1px;
    left: 6px;
    pointer-events: none;
    position: absolute;
    top: 11px;
    width: 12px;
}
.mapsvg-btn-map.mapsvg-in:after {
    background-color: #999;
    content: "";
    display: block;
    height: 12px;
    left: 11px;
    pointer-events: none;
    position: absolute;
    top: 6px;
    width: 1px;
}
.mapsvg-btn-map:hover, .mapsvg-btn:hover {
    background-color: #f2f2f2;
}




